.navigation ul li:hover a::before,
.navigation ul li.active a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.active a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

.navigation ul li:hover,
.navigation ul li.active {
    background-color: white;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    margin-top: 12px;
}

.navigation ul li:hover a,
.navigation ul li.active a {
    color: #1e3a8a;
}